// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Plus+Jakarta+Sans:wght@500&display=swap');

nav{
background: #03045E;

}

li{
    margin-left: 10px;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900
}

.nav-link{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

image{

    width: 920px;
    height:fit-content;
    object-position: right;
}



.intro{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    max-width: 100%;
}

.intro-white{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    max-width: 800px;
    color: white;
    text-align: justify;
}

.form-label{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.form-control{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px;
}


#buttonSewa{
    background: linear-gradient(135deg, rgba(70,3,94,1) 0%, rgba(3,4,94,1) 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    object-position: bottom;
}

#daftarLapangan{
    background: linear-gradient(135deg, rgba(70,3,94,1) 0%, rgba(3,4,94,1) 100%);
}

#headingcontact{
    font-family: 'Montserrat', sans-serif!important;
    font-weight: bold;
    width: max-content;
}

#heading-white{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white!important;
}

.icon-contact{
    max-width: 2rem;
}

.text-contact{
    font-size: 1.5rem;
}

#textbox-sewa{
    background: #1B1D55!important;
    max-width: 500px;
}

.container{
    width: 100%;
}

#container-intro-sewa{
    background: #616C94;
}

#container-form-sewa{
    background: #ECECEC;
}
